<nav> 
    <div class="site-title">
        <a href="/"><h1>LIFEPLUS</h1></a>
        <p>라이프 스타일 콘텐츠 구독 서비스</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New post</a></li>
    </ul>
</nav>