<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
       요청하신 페이지를 찾을 수 없습니다. :(
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>