<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2> About us</h2>
        <h4>라이프 스타일 콘텐츠 구독 서비스</h4>
        <p>다양한 콘텐츠를 직접 업로드 히고 공유할 수 있어요.</p>
        <h4>매달 시즌 이슈에 맞게 업데이트 되는 콘텐츠를 맘껏 구독하세요</h4>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>